HOME=/root
ALERTMANAGER_URL=http://flightctl-alertmanager:9093
FLIGHTCTL_DISABLE_AUTH={{if or (not .global.auth.type) (eq .global.auth.type "none")}}true{{end}}
RATE_LIMIT_REQUESTS={{if .service.rateLimit.requests}}{{.service.rateLimit.requests}}{{else}}300{{end}}
RATE_LIMIT_WINDOW={{if .service.rateLimit.window}}{{.service.rateLimit.window}}{{else}}1m{{end}}
AUTH_RATE_LIMIT_REQUESTS={{if .service.rateLimit.authRequests}}{{.service.rateLimit.authRequests}}{{else}}20{{end}}
AUTH_RATE_LIMIT_WINDOW={{if .service.rateLimit.authWindow}}{{.service.rateLimit.authWindow}}{{else}}1h{{end}}
